includes:
    - 'phpstan-baseline.neon'

parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    checkDynamicProperties: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: false
    ignoreErrors:
        - '#PHPDoc tag .+ #'
        - identifier: missingType.iterableValue
        - identifier: missingType.generics